html,body {
  height: 100%;
  width: 100%;
}

.box {
  width: 250px;
  border-radius: 1.2rem;
  padding: 10px;
  box-shadow: 1px 3px 7px #888888;  
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: medium;
  margin-top: 10px;
}

.box input {
  height: 20px;
  width: 200px;
}

.box button {
  height: 26px;
  /* margin-left: 4px; */
}

.box span {
  align-self: center;
}

.box .controls {
  display: flex;
  justify-content: end;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 500px; */
}


.container .section {
  /* display: flex; */
  margin-top: 5px;
}

.verified {
  background-color: #cfcccc;
  color: white;
}

.verified button {
  background-color: #cfcccc;
  color: white;
}